<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="7.3.0" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="23.2.6" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="23.2.6" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="23.2.6" targetFramework="net472" />
  <package id="Syncfusion.PdfToImageConverter.WinForms" version="23.2.6" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="23.2.6" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>